---
import BoardView from "../components/board/BoardView";
import Sidebar from "../components/shared/Sidebar";
import Layout from "../layouts/Layout.astro";
import BoardService from "../service/boardService";
import "./global.css";
const boards = await BoardService.getBoards();
---

<Layout title="Kanban Board">
  <main class="w-full h-full flex">
    <Sidebar />
    <div class="block text-left w-full">
      <BoardView client:visible boards={boards} />
    </div>
  </main>
</Layout>

<style is:global>
  main {
    max-width: 100vw;
  }
  .text-gradient {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(270deg, #74FFDCff, #61F1CDff, #4DE2BFff, #3AD4B0ff, #27C5A1ff, #13B793ff, #00A884ff);
    background-size: 200%;
    background-position: 0%;
  }
</style>
