@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

#root,
body {
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}

#root,
body,
main {
  max-width: 100vw;
  min-height: 100vh;
}
