---
import Notifications from "../components/shared/Notifications/Notifications";
import Sidebar from "../components/shared/Sidebar";
import "../styles/global.scss";
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-row bg-white">
    <Sidebar client:idle />
    <Notifications client:load />
    <div
      class="flex py-20 sm:pt-10 sm:pb-4 px-5 sm:px-14 justify-center items-start w-full min-h-full overflow-hidden"
    >
      <slot />
    </div>
  </body>
</html>
